<div class="navBar ">

    <div class="partier1">

        

    </div>


    <!-- <div class="partier2">
        <div class="partier2-1">
            <div class="itemnav">
                <a class="a" href="">Accueil</a>
            </div>
            <div>
                <a class="a" routerLink="/contact"> Contactez-nous</a>
            </div>
            <div>
                <a class="a" routerLink="/sportEntreprise">Sport en Entreprise</a>
            </div>
            <div>
                <a class="a" routerLink="/partenaire"> Devenez partenaire</a>
                
            </div>


        </div>

    </div> -->
    <div class="partier3">
        <div class="partier3-1">
            <div  style="display: flex; justify-content: center; align-items: center; margin-right: 25px;">
                <img  class="imgicons"  src="../../../../../assets/images/imagesdashbordPage/imageNavBarDashBord/messageIcons.png" alt="">

            </div>
            <div  style="display: flex; justify-content: center; align-items: center; margin-right: 25px;">
                <img   class="imgicons"  src="../../../../../assets/images/imagesdashbordPage/imageNavBarDashBord/notificationIcons (2).png" alt="">

            </div>
            <div style="display: flex; justify-content: center; align-items: center; margin-right: 25px;">
                <img class="imgicons1"  src="../../../assets/images/imagesnavBar/iconperson.png" alt="">
                <h4 style="margin-top: 5px; color: white;"><span>nom de utilisateur</span><br><span style="font-weight: lighter;">role utilisateur</span> </h4>
            </div>
          
           
        </div>
       
    </div>



</div>
