<app-navbar></app-navbar>
<div class="error">
    <div class="main">
        <img src="assets/images/notFound/404.png" style="width: 40%;">
        <p class="ooops">Ooops</p>
        <p class="description">
            Choisissez l'espace,
             le club, le loisir et le crénau idéal pour pratiquer le sport et pour accéder au loisir
        </p>
        <button (click)="redirect()"><img src="assets/images/notFound/searchicon.png"> Recherche</button>
    </div>
</div>
<app-footer></app-footer>