<input class="form-control" type="text" placeholder="search" [(ngModel)]="searchText">
<div  style="display: flex; flex-direction: column; align-items: center; ">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">idStade</th>
                <th scope="col">nomStade</th>
                <th scope="col">code</th>
                <th scope="col">ville</th>
                <th scope="col">Adresse</th>
                <th scope="col">nombreDeJoueur</th>
                <th scope="col">telephone</th>
                <th scope="col">activite</th>
                <th scope="col">propritaireDeStade</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of stade |searchPropritaire:searchText| paginate:{
                itemsPerPage: cardSize,
                currentPage: page,
                totalItems: count
            };let i = index">
                <th>{{p.idStade}}</th>
                <td>{{p.nomStade}}</td>
                <td>{{p.code}}</td>
                <td>{{p.ville}}</td>
                <td>{{p.adresse}}</td>
                <td>{{p.nombreDeJoueur}}</td>
                <td>{{p.telephone}}</td>
                <td>{{p.activite.nomActivite}}</td>
                <td>{{p.propritaireDeStade.nom}} {{p.propritaireDeStade.prenom}}</td>
            </tr>

        </tbody>

    </table>
    <pagination-controls previousLabel="prev" nextLabel="next" (pageChange)="onCardDataChange($event)">
    </pagination-controls>
</div>