.partierr1 {
    width: 100%;
    margin-bottom: 60px;
  
  
  }
  
  .partier1-1 {
    width: 100%;
    height: 550px;
    background: url(../../../assets/images/imagesSportEntreprise/imagescomposants1/backgroundcomposant1.jpg);
    background-position: 10% 10%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .partier1-2 {
    display: flex;
    margin-top: -45px;
    ;
  
  }
  
  .partier121 {
    display: flex;
    margin-left: 11%;
    margin-right: 10%;
    width: 100%;
  }
  
  .partier1-2-1 {
    display: flex;
    flex-direction: column;
    background-color: rgb(117, 179, 26);
  
    height: 100%;
    min-width: 380px;
  }
  
  textarea {
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: -internal-textarea-auto;
    cursor: text;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    white-space: pre-wrap;
  }
  
  .partier1-2-item {
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .item2 {
    margin-top: 70px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
  
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 25px 30px;
    border-radius: 5px;
  
  
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: #0ea61d;
  }
  
  .container .title {
    font-size: 30px;
    font-weight: 500;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
  }
  
  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  
  form .user-details2 .input-box {
    margin-bottom: 15px;
    width: calc(100% / 1 - 20px);
  }
  
  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #1c7e24;
  }
  
  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }
  
  form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  
  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d96f;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked~.category label .one,
  #dot-2:checked~.category label .two,
  #dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
  }
  
  form input[type="radio"] {
    display: none;
  }
  
  form .button {
    height: 45px;
    margin: 35px 0
  }
  
  .button {
    height: 45px;
    margin: 35px 0
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: rgb(117, 179, 26);
  }
  
  .partier1-1-1 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12%;
  }
  
  .button .input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #0fa96b53, #0ea61d);
  }
  
  form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(135deg, #0fa96b53, #0ea61d);
  }
  
  .button .input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(135deg, #0fa96b53, #0ea61d);
  }
  
  @media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .category {
      width: 100%;
    }
  
    .content form .user-details {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .user-details::-webkit-scrollbar {
      width: 5px;
    }
  }
  
  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }
  }
  
  .loader {
    display: block;
    position: relative;
    height: 12px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #FF3D00;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      left: 0;
      transform: translateX(-100%);
    }
  
    100% {
      left: 100%;
      transform: translateX(0%);
    }
  }
  
  .error-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  
    animation: shake 0.5s ease-in-out infinite;
    /* Ajoute l'animation à l'icône */
  }
  
  @keyframes shake {
  
    0%,
    100% {
      transform: translateX(0);
    }
  
    25%,
    75% {
      transform: translateX(-5px);
    }
  
    50% {
      transform: translateX(5px);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      display: none;
    }
  }
  
  .hide-alert {
    animation: fadeOut 1s ease-out 2s forwards;
  }
  
  @media screen and (max-width:1198px) {
    .partier1-2-1 {
      min-width: 300px;
    }
  
  }
  
  @media screen and (max-width:991px) {
    .partier1-2-1 {
      min-width: 230px;
    }
  
    .partier1-2-item {
      margin-left: 30px;
  
    }
  
    h4 {
      font-size: 18px;
    }
  
    h6 {
      font-size: 12px;
      margin-top: 4px;
    }
  
  }
  
  @media screen and (max-width:768px) {
    .partier121 {
      display: flex;
      flex-direction: column;
    }
  
    .item2 {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-height:741px) {
    body {
      height: 100%;
    }
  
  }
  
  h4,
  h6 {
    color: white;
  }
  
  h4 {
    font-weight: bold;
  }
  .wrapper {
    height: 100px;
    width: 100px;
    position: relative;
    background: url(../../../assets/images/imagepartenairePage/imagecomposant1partenaire/iconcamera.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10%;
    background-color: rgba(0, 0, 0, 0.208);
    margin-right: 20px;
}

.my_file {
    position: absolute;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 15px;
    font-size: 6px;
    cursor: pointer;
    width: 80px;
    height: 100px;
    transition: 0.5s;

}

.my_file::-webkit-file-upload-button {
    visibility: hidden;
}
/* .container {
  width: 80%;
  max-height: 630px;
  border: 1px solid #ccc;
  padding: 30px;
  margin-bottom: 100px;
  width: 100%;
  min-width: 600px;
} */
.main {
  display: flex;
  justify-content: space-evenly;
  /* background-color: grey; */
  /* height: 110vh; */
  /* padding: 20px; */
  /* border: 1px solid grey; */
  padding: 20px;
  padding-bottom: 70px;
  /* box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.5); */
  margin-top: 20px;
}
/* left side */
.leftside {
  width: 40%;
   height: 100%; 
  border: 1px solid grey;
  padding: 20px;
  box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.5);
}
h4 {
  font-size: 18px;
  font-weight: bold;
}
h5 {
  color: #72b438;
  font-size: 15px;
  margin-bottom: 20px;
}
h6 {
  color: grey;
  font-size: 15px;
}
.detailprix {
  display: flex;
  justify-content: space-between;
}
.promo {
  display: flex;
  flex-direction: column;
}
.codepromo {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 26px;
  padding: 18px 2px;
}
.codepromo > input {
  width: auto 0px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding: 2px 0; */
}
.codepromo > input::placeholder {
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: */
}
.codepromo > button {
  width: 30%;
  font-size: 12px;
  background-color: grey;
  color: white;
  padding: 5px;
  margin: 1px;
  border: 0px;
  border-radius: 5px;
  height: 25px;
}
p {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}
.promo-code-icon {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
}

/* end of left side */
.middleside {
  width: 10%;
}
/* right side */
.rightside {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: 80%;
}
/* top */
.top {
  border: 1px solid grey;
  padding: 20px;
  box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.5);
  margin-bottom: 30px;
}
.ajout-tel {
  display: flex;
  justify-content: space-between;
}
.ajouter {
  background-color: white;
  color: #72b438;
  border: 1px solid #72b438;
  padding: 6px;
}
/* end top */

/* bottom */
.bottom {
  /* background-color: yellow; */
  border: 1px solid grey;
  padding: 20px;
  box-shadow: 3px 3px 3px 2px rgba(128, 128, 128, 0.5);
}
.bottompayer {
  margin: 0 20%;
}
.messagepayer {
  background-color: rgba(225, 225, 225, 0.45);
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
}
.payer {
  /* background-color: green; */
  background-color: rgba(225, 225, 225, 0.45);
  /* display:flex; */
  /* justify-content: center; */
  padding: 20px;
  border-radius: 10px;
}
.buttonpayer {
  background-color: rgb(114, 180, 56);
  color: white;
  width: 100%;
  height:40px;
  padding:5px;
  border:none;
  border-radius: 5px;
  /* margin-left: 10%; */
}
/* .payer > button{
  height: 50px;
} */
.methodpaiement {
  display: flex;
  margin: 0 30%;
  /* justify-content: space-between; */
  margin-top: 20px;
}
img {
  width: 30px;
  height: 20px;
}
/* end bottom */
/* end right side */

/* popup */
.modal-body {
  display: flex;
  flex-direction: column;
  padding: 0 25%;
}

.modal-body > img {
  width: 50px;
  height: 50px;
  margin: 10px 100px;
}
.modal-body > input {
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}
small{
  text-align:center;
}
.footer {
  display: flex;
  justify-content: center;
}
.footer > button {
  padding: 0 25%;
  background-color: #6bc71c;
  border: none;
  color: white;
  padding: 6px;
  border-radius: 5px;
  min-width: 150px;
  margin: 20px 0px;
}

/* navigate button */
.step-navigation {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: -10px;
  padding-top: 100px;
}
.step-navigation > button {
margin-bottom :-65px;
  border: none;
  background-color: rgb(245, 245, 245);
}


.steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.step {
  text-align: center;
  padding: 10px;
  flex: 1;
  border-bottom: 2px solid #ccc;
}

.step.active {
  border-bottom: 2px solid green;
  color: green;
}
.step > button{
  background-color: transparent;
  border:none;
}
.info-box {
  padding: 5px;
  margin-top: -60px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 280px;
  color: #5f5757;
  background-color: #fff;
  border: 1px solid #d7d7d7;
  text-align: center;
}
