            <body>
                
            
            <div class="container" id="container">
                <div class="form-container sign-in-container">
                    <form role="form" [formGroup]="formLogin" (ngSubmit)="login1()">
                        <h1>Se connecter</h1>
                        <div class="social-container">
                            <a href="{{url}}" class="bouttom" style="display: flex; width: 100%; justify-content: center;">
                        
                                <img  src="../../../assets/images/imagesloginePage/google-icon.png" width="20px"  alt="" style="margin-right: 10px;">
                               Google

                            
                        </a>
                           
                        </div>
                        <span>ou utilisez votre compte</span>
                       
                        <input type="text" placeholder="username" formControlName="username" required />
                        <small *ngIf="formLogin.controls['username'].errors && formLogin.controls['username'].touched" class="text-danger">
                            {{getErrorsMessage('username',formLogin.controls['username'].errors)}}</small>
                      
                        <input type="password" placeholder="password" formControlName="password" required />
                        <small *ngIf="formLogin.controls['password'].errors && formLogin.controls['password'].touched" class="text-danger">
                            {{getErrorsMessage('password',formLogin.controls['password'].errors)}}</small>
                        
                        <a href="#">Mot de passe oublié?</a>
                        <button >Se connecter</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>Bienvenue à nouveau</h1>
                            <p>Entrez vos informations personnelles et commencez votre journey avec nous</p>

                        </div>
                    </div>
                </div>
            </div>
        
        </body>